.er{
    border: blanchedalmond 2px solid;
    max-width: 50%;
    margin: 0 auto;
    margin-top: 3rem;
    color: blanchedalmond;

}
.li{
    text-decoration: none;
    color: blanchedalmond;

}
.li:hover{
    color: aliceblue;
    text-decoration: none;

}
.re{
    padding: 1rem;
}
.btn{
    margin-bottom: 1rem;
    margin-left: 1rem;
    background-color: blanchedalmond;
}
.btn:hover{
    background-color: violet;
    color: blanchedalmond;
}
.he{
    margin-top: 0.5rem;
    text-align: center;
}
.po{
color:bisque;
font-weight:bold;
text-decoration:none;
margin-top:2rem;
}
body{
    text-align: center;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;

    background-image: linear-gradient(300deg, gray 20%,#2b073b);
}