<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PDS</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/static/css/index.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
  </head>
  <body>
    <!--nav-->
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 fixed-top">
      <div class="container">
        <a href="#" class="navbar-brand">PLASMA DONOR SYSTEM</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navmenu"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navmenu">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a href="#learn" class="nav-link">What you can do</a>
            </li>
            <li class="nav-item">
              <a href="#questions" class="nav-link">Questions</a>
            </li>
            <li class="nav-item">
              <a href="#developers" class="nav-link">Developers</a>
            </li>
            <li class="nav-item">
              <a href="logout" class="nav-link">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!--showcase-->
    <section
      class="bg-dark text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start"
    >
      <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
          <div>
            <h1>You Are A <span class="text-warning">PDS User</span></h1>
            <p class="lead my-4">
              During the COVID 19 crisis, the requirement of plasma became a high priority and the donor count has become low. Saving the donor information and helping the needy by notifying the current donors list, would be a helping hand. In regard to the problem faced, an application is to be built which would take the donor details, store them and inform them upon a request.
            </p>
            <!-- <a href="./dist/index.html"
              ><button
                class="btn btn-primary btn-lg"
                data-bs-toggle="modal"
                data-bs-target="#login"
              >
                Login
              </button>
            </a> -->
          </div>
          <img
            class="img-fluid w-50 d-none d-sm-block"
            src="/static/images/b-bank-2.png"
            alt=""
          />
        </div>
      </div>
    </section>

    <br />

    <section>
      <div class="container">
        <h2 class="text-center text-black" style="font-size: 1cm">
          It’s more than work. It’s a way of working together.
        </h2>
        <p class="text-center text-black" style="font-size: 0.5cm">
          Donating plasma doesn't only make you more aware of your diet. It may also have a positive impact on your physical health. One health benefit of regular plasma donation is the potential reduction of bad cholesterol levels and the increase of good cholesterol, especially in women.
        </p>
      </div>
    </section>

    <br />

    <section id="learn" class="p-5 bg-dark text-light">
      <div class="container">
        <div class="row align-items-center justify-content-between">
          <div class="col-md p-5">
            <h2>Search for blood donors</h2>
            <p class="lead">Section to see blood donor list.</p>
            <p>
              To find the donor and send a request.
            </p>
            <a href="bbregister" class="btn btn-light mt-3">
              <i class="bi bi-chevron-right"></i> Search Donors
            </a>
          </div>
          <div class="col-md">
            <img src="./image/view.svg" class="img-fluid" alt="" />
          </div>
        </div>
      </div>
    </section>

    <section id="learn" class="p-5 bg-white text-dark">
      <div class="container">
        <div class="row align-items-center justify-content-between">
          <div class="col-md p-5">
            <h2>Donate Blood</h2>
            <p class="lead">Section to donate blood.</p>
            <p>
              To donate the blood and help more number of people.
            </p>
            <a href="doregister" class="btn btn-dark mt-3">
              <i class="bi bi-chevron-right"></i> Donate
            </a>
          </div>
          <div class="col-md">
            <img src="./image/card-back.svg" class="img-fluid" alt="" />
          </div>
        </div>
      </div>
    </section>

    <!-- Learn Sections -->



    <section id="learn" class="p-5 bg-dark text-light">
      <div class="container">
        <div class="row align-items-center justify-content-between">
          <div class="col-md p-5">
            <h2>See Donors</h2>

            <p>
              To see the donors those who are all ready to donate their blood.
            </p>
            <a href="donorlist" class="btn btn-light mt-3">
              <i class="bi bi-chevron-right"></i> Read More
            </a>
          </div>
          <div class="col-md">
            <img src="./image/Members-UI.svg" class="img-fluid" alt="" />
          </div>
        </div>
      </div>
    </section>

    <section id="learn" class="p-5">
      <div class="container">
        <div class="row align-items-center justify-content-between">
          <div class="col-md">
            <img src="./image/fundamentals.svg" class="img-fluid" alt="" />
          </div>
          <div class="col-md p-5">
            <h2>See Requests</h2>
            <p class="lead">
              Section to see requests.
            </p>
            <p>
              To see the requests and get clear about the blood bank.
            </p>
            <a href="transaction" class="btn btn-dark mt-3">
              <i class="bi bi-chevron-right"></i> Read More
            </a>
          </div>
        </div>
      </div>
    </section>

    <!--questions-->
    <section id="questions" class="p-5">
      <div class="container">
        <h2 class="text-center mb-4">Frequently Asked Questions</h2>
        <div class="accordion accordion-flush" id="questions">
          <!-- Item 1 -->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#question-one"
              >
                How hydrated should you be to donate plasma?
              </button>
            </h2>
            <div
              id="question-one"
              class="accordion-collapse collapse"
              data-bs-parent="#questions"
            >
              <div class="accordion-body">
                In the 24 hours before your donation, plan to drink the recommended 9 to 13 cups of water. On top of this amount, the American Red Cross recommends drinking an extra 16 ounces, or two cups, right before your appointment.
              </div>
            </div>
          </div>
          <!-- Item 2 -->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#question-two"
              >
                Can donating plasma hurt your immune system?
              </button>
            </h2>
            <div
              id="question-two"
              class="accordion-collapse collapse"
              data-bs-parent="#questions"
            >
              <div class="accordion-body">
                Donating your plasma does not compromise your own immunity and you are required to wait 28 days between donations to be sure you maintain adequate antibodies so you don't harm your immune system. In addition to OneBlood, you can get more information on convalescent plasma at the American Red Cross, the FDA or CDC.
              </div>
            </div>
          </div>
          <!-- Item 3 -->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#question-three"
              >
                What happens to a person who donates plasma?
              </button>
            </h2>
            <div
              id="question-three"
              class="accordion-collapse collapse"
              data-bs-parent="#questions"
            >
              <div class="accordion-body">
                For most people, donating plasma does not cause any side effects, but some donors can experience fatigue, bruising, bleeding, or dehydration. Additionally, you may feel dizzy or lightheaded. While not typical, fainting can also occur. It's rare, but more serious infections or reactions can occur, which can be treated.
              </div>
            </div>
          </div>

          <!--item-4-->

          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#question-four"
              >
                How Do I sign up?
              </button>
            </h2>
            <div
              id="question-four"
              class="accordion-collapse collapse"
              data-bs-parent="#questions"
            >
              <div class="accordion-body">
                Just open our website and click signup to get in touch with us.
              </div>
            </div>
          </div>
          <!-- Item 5 -->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#question-five"
              >
                Is donating plasma good for your body?
              </button>
            </h2>
            <div
              id="question-five"
              class="accordion-collapse collapse"
              data-bs-parent="#questions"
            >
              <div class="accordion-body">
                Donating plasma doesn't only make you more aware of your diet. It may also have a positive impact on your physical health. One health benefit of regular plasma donation is the potential reduction of bad cholesterol levels and the increase of good cholesterol, especially in women.
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="developers" class="p-5 bg-dark">
      <div class="container">
        <h2 class="text-center text-white">Our Developers</h2>
        <p class="lead text-center text-white mb-5">
          we developed this tool to manage projects.
        </p>
        <div class="row g-4">
          <div class="col-md-6 col-lg-3">
            <div class="card bg-light">
              <div class="card-body text-center">
<!--                <img-->
<!--                  src="https://randomuser.me/api/portraits/women/11.jpg"-->
<!--                  class="rounded-circle mb-3"-->
<!--                  alt=""-->
<!--                />-->
                <h3 class="card-title mb-3">SHREYA</h3>
                <p class="card-text">
                  Worked as Full Stack Developer
                </p>

                <a href="https://www.linkedin.com/in/shreya-m-v-b130821b1/" target="_blank"><i class="bi bi-linkedin text-dark mx-1"></i></a>
<a href="https://github.com/shreyamv" target="_blank"><i class="bi bi-github text-dark mx-1"></i></a>             </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="card bg-light">
              <div class="card-body text-center">
<!--                <img-->
<!--                  src="https://randomuser.me/api/portraits/women/11.jpg"-->
<!--                  class="rounded-circle mb-3"-->
<!--                  alt=""-->
<!--                />-->
                <h3 class="card-title mb-3">VIJAYAVARSHINI</h3>
                <p class="card-text">
                  Worked as Full Stack Developer
                </p>
                 <a href="https://www.linkedin.com/in/vijayavarshini-ravi-b22605220/" target="_blank"><i class="bi bi-linkedin text-dark mx-1"></i></a>
                <a href="https://github.com/vijayavarshiniravi" target="_blank"><i class="bi bi-github text-dark mx-1"></i></a>             </div>
            </div>
          </div>
            <div class="col-md-6 col-lg-3">
            <div class="card bg-light">
              <div class="card-body text-center">
<!--                <img-->
<!--                  src="https://randomuser.me/api/portraits/women/11.jpg"-->
<!--                  class="rounded-circle mb-3"-->
<!--                  alt=""-->
<!--                />-->
                <h3 class="card-title mb-3">VIGNESHWARAN</h3>
                <p class="card-text">
                  Worked as Full Stack Developer
                </p>
                <a href="https://www.linkedin.com/in/vigneshwaran-sadasivam-141668198/" target="_blank"><i class="bi bi-linkedin text-dark mx-1"></i></a>
<a href="https://github.com/VigneshwaranSadasivam" target="_blank"><i class="bi bi-github text-dark mx-1"></i></a>              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="card bg-light">
              <div class="card-body text-center">
<!--                <img-->
<!--                  src="https://randomuser.me/api/portraits/women/11.jpg"-->
<!--                  class="rounded-circle mb-3"-->
<!--                  alt=""-->
<!--                />-->
                <h3 class="card-title mb-3">SHYAMPRASADH</h3>
                <p class="card-text">
                  Worked as Full Stack Developer
                </p>
                 <a href="https://www.linkedin.com/in/shyamprasadh/" target="_blank"><i class="bi bi-linkedin text-dark mx-1"></i></a>
<a href="https://github.com/shyamprasadh" target="_blank"><i class="bi bi-github text-dark mx-1"></i></a>               </div>
            </div>
          </div>

        </div>
      </div>
    </section>
    <!-- Contact & Map -->
    <section class="p-5">
      <div class="container">
        <div class="row g-4">
          <div class="col-md">
            <h2 class="text-center mb-4">Contact Info</h2>
            <ul class="list-group list-group-flush lead">
              <li class="list-group-item">
                <span class="fw-bold">Main Location:</span>
                Salem,TamilNadu,India
              </li>
              <!-- s<li class="list-group-item">
                <span class="fw-bold">Enrollment Phone:</span> 9043891114
              </li>
              <li class="list-group-item">
                <span class="fw-bold">Student Phone:</span> 8825591664
              </li> -->
              <li class="list-group-item">
                <span class="fw-bold">Developer Email:</span>
                vigneshwaransam877@gmail.com
              </li>
                <li class="list-group-item">
                <span class="fw-bold">Developer Email:</span>
                vijayavarshini.r@gmail.com
              </li>
              <li class="list-group-item">
                <span class="fw-bold">Developer Email:</span>
                shreyamv2002murali@gmail.com
              </li>
              <li class="list-group-item">
                <span class="fw-bold">Developer Email:</span>
                shyamprasadh247@gmail.com
              </li>
            </ul>
          </div>
          <div class="col-md">
            <div id="map"></div>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="p-5 bg-dark text-white text-center position-relative">
      <div class="container">


        <a href="#" class="position-absolute bottom-0 end-0 p-3">
          <i class="bi bi-arrow-up-circle h1"></i>
        </a>
      </div>
    </footer>


    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
