<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donor-Status</title>
    <link rel="stylesheet" href="/static/css/rh.css">
</head>
<body>
<img class="im" src="/static/images/b-bank-1.png" alt="" srcset="">
    <h1 class="imp">{{msg}}</h1>
    <h3 class="impo">{{msg1}}</h3>
<a class="li" href="donorlistfunc">Back</a>
</body>
</html>